:root {
    /*colors*/
    --link-color: #357b70;
    --link-visited__color: #05676e;
    --link-active__color: #489c79;
    --primary-button__color: #2b2b2b;
    --primary-button__txt-color: #fff;
    --secondary-button__bg-color: #e0b354;
    --grid-item__color: #d3d3d3;
    --keyframe__zero: #edc655;
    --keyframe__fifty: #f76414;
    --keyframe__hundred: #ff0800;
    /*fonts*/
    --heading-font_weight: 700px;
    /*margins and padding*/
    --margin-one: 10px;
    --padding-one: 10px;
    --text-center: center;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

h1 {
    font-size: 30px;
    font-weight: var(--heading-font_weight);
}

h2 {
    font-size: 24px;
    font-weight: var(--heading-font_weight);
}

h3 {
    font-size: 18px;
    font-weight: var(--heading-font_weight);
}

a {
    color: var(--link-color);
}


a:visited {
    color: var(--link-visited__color);
}

a:hover,
a:focus {
    text-decoration: none;
}

a:active {
    /* selected link */
    color: var(--link-active__color);
}

button, .button {
    border: none;
    display: inline-block;
    background-color: var(--primary-button__color);
    color: var(--primary-button__txt-color);
    font-family: inherit;
    font-size: 16px;
    text-decoration: none;
    padding: var(--padding-one);
    margin-top: var(--margin-one);
    border-radius: 3px;
    border-bottom: 2px solid rgba(0,0,0,0.3);
    transition-duration: 0.2s;
    transition-property: opacity;
    
}

button:hover, 
button:focus,
.button:hover, 
.button:focus {
    cursor: pointer;
    opacity: 0.8;
}

.button_secondary {
    background-color: var(--secondary-button__bg-color);
    color: var(--primary-button__color);
}

div {
    padding: var(--padding-one);
    margin: var(--margin-one);
}

.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px;
    padding: 20px;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
}

.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none; 
    display: flex;
    justify-content: space-evenly;
    margin-top: 51px;
}

.navigation-list__item {
    padding: 10px 50px;
}

.navigation-list__item--active {
    background-color: #696969;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid__item {
    background-color: var(--grid-item__color);
    padding: 20px;
}

.main-contact {
    /* padding-left: 100px;
    display: block;
    margin: 0 auto; */
    text-align: var(--text-center); 
}

.main-contact__address {
    font-size: 18px;
}

.main-contact__firstlist {
    position: relative;
    left: 140px;
    list-style-type: none; 
}

.main-contact__secondlist {
    position: relative;
    right: 110px;
    bottom: 25px;
    list-style-type: none; 
}

.main-contact__contactme {
    position: relative;
    left: 1px;
}

.site-contact {
    max-width: 170px;
    margin: 0 auto;
}

.main-contact__heading {
    text-decoration: underline;
}

.main-about {
    padding-left: 100px;
    display: block;
    margin: 0 auto;
    text-align: var(--text-center);
}

.about-table {
    margin: 0 auto;
    text-align: var(--text-center);
}

.work-section {
    padding-left: 100px;
}

.grid__item:last-child {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

/*all*/
@keyframes color-change {
    0% {
        fill: var(--keyframe__zero);
    }
    50% {
        fill: var(--keyframe__fifty);
    }
    100% {
        fill: var(--keyframe__hundred);
    }
}

.sun {
    animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }
    to {
        transform: translate(200px, 50px);
    }
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }
    to {
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

/*
Colors used

text color: #357b70
a:visited: #05676e
a:active: #489c79
button color: #357b70
secondary button: background-#e0b354, text-#e0b354

*/